/* colours */
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-text: #222;
$color-heading: #111;
$color-sub-heading: #555;
$color-hover: #007bff;


.wrapper{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 2rem;
    @media (max-width: 768px){
        padding: 0 1rem;
    }
}
.container{
    width: 100%;
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.w-full{
    width: 100%;
}
.grid-box{
    display:grid;
}
.g-col-lg-4{
    grid-template-columns: auto auto auto auto;
    @media (max-width:992px){
    grid-template-columns: auto ;
grid-auto-rows: 1fr;
    }
}

