@import 'functions';
@import 'defined';
@import 'components';

// Mobile: 360px, 375px, 414px, 320px, 390px.
// Tablets: 768px, 800px, 1024px.
// Desktops: 1280px, 1366px, 1920px.
@font-face {
    font-family: 'SolaimanLipi';
    src: url('../fonts/SolaimanLipi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SolaimanLipi', Arial, Helvetica, sans-serif;
    background-color: #fdfcfc;
    color: #222;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #007bff;

}

ul,
ol {
    list-style: none;
    margin-bottom: 0;


}

img {
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
    min-height: 38px;
    padding: 6px;
    height: 38px;
    padding-left: 1rem;
}

.form-control {

    &:focus,
    &:focus-visible {
        outline: 0;
        border-color: inherit;
        box-shadow: none;
        border: 1px solid red;
    }

}

.btn {}
 .sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;

        animation: sticky 0.5s ease-in-out;
      }
//start styling from here

@keyframes sticky {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#header_area,
.sticky_header {
    width: 100%;

    .ad_area {
        text-align: center;
    }

    .top_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @media (max-width:768px) {
            justify-content: center;
            width: 100%;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }

        & .date {
            width: 30%;

            @media (max-width:992px) {
                display: none;
            }

            & p {
                font-size: 1rem;
            }
        }

        & .logo {

            width: 40%;
            text-align: center;

            @media (max-width:992px) {
                justify-content: center;
                width: 100%;
            }

            img {
                max-width: 300px;

            }
        }

        & .tools {
            width: 30%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;

            @media (max-width:992px) {
                display: none;
            }

            & .search-box {
                & form {
                    position: relative;

                }

                input[type="search"] {
                    position: absolute;
                    right: 0px;
                    top: 0;
                    width: 0px;
                    transition: 0.3s ease-in-out;
                    opacity: 0;

                    z-index: 1;
                    border-radius: 5px;
                    padding-right: 15px;

                    &::placeholder {
                        font-size: 1rem;
                    }
                }

                button[type="submit"] {

                    border-radius: 5px;
                    z-index: 2;

                    color: #0f0f0f;
                    border-color: #d4d4d4;
                    color: #9d9b9b;
                    background-color: #fff;

                    &:hover {

                        color: #0f0f0f;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                &:hover input[type="search"] {
                    right: 60px;
                    width: 250px;
                    transition: 0.3s ease-in-out;
                    opacity: 1;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;


                }


            }

            & .btn-group {
                & .menu-toggler {
                    background-color: #d4d4d4;
                    border: 1px solid #d4d4d4;
                    color: #9d9b9b;

                    &:hover {
                        color: #0f0f0f;
                    }
                }
            }
        }


    }

    .menu_bar {

        .menu-area {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            padding: 0 !important;

            @media (max-width:992px) {
                justify-content: space-between;
                // position: relative;
            }

            .nav {
                flex-grow: inherit;
                justify-content: center;

                @media (max-width:992px) {
                    position: absolute;
                    background-color: #fff;
                    width: 100%;
                    top: 42px;
                    z-index: 1;

                    padding: 10px;
                    box-shadow: 0 10px 8px #ddd;
                    overflow-y: auto;
                    max-height: 100vh;
                }

            }



            .navbar-nav {
                @media (max-width:992px) {
                    justify-content: center;
                    width: 100%;


                }

                & .nav-item {
                    @media (max-width:992px) {
                        border-bottom: 1px solid #ddd;

                        &:nth-last-child(1) {
                            border-bottom: 0;
                        }
                    }
                }
            }

            button.navbar-toggler {
                font-size: 1rem;
            }

            & .tools {

                display: none;


                justify-content: end;
                align-items: center;
                gap: 10px;

                @media (max-width:992px) {
                    display: flex;
                }

                & .search-box {
                    & form {
                        position: relative;

                    }

                    input[type="search"] {
                        position: absolute;
                        right: 0px;
                        top: 0;
                        width: 0px;
                        transition: 0.3s ease-in-out;
                        opacity: 0;

                        z-index: 1;
                        border-radius: 5px;
                        padding-right: 15px;

                        &::placeholder {
                            font-size: 1rem;
                        }
                    }

                    button[type="submit"] {

                        border-radius: 5px;
                        z-index: 2;

                        color: #0f0f0f;
                        border-color: #d4d4d4;
                        color: #9d9b9b;
                        background-color: #fff;

                        &:hover {

                            color: #0f0f0f;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }

                    &:hover input[type="search"] {
                        right: 60px;
                        width: 250px;
                        transition: 0.3s ease-in-out;
                        opacity: 1;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;


                    }


                }

                & .btn-group {
                    & .menu-toggler {
                        background-color: #d4d4d4;
                        border: 1px solid #d4d4d4;
                        color: #9d9b9b;

                        &:hover {
                            color: #0f0f0f;
                        }
                    }
                }
            }
        }

        &.sticky {
            background-color: #fff;
            box-shadow: 0 0px 15px #ddd;
            padding-bottom: 0.3rem;

            .menu-area {
                display: flex;

                align-items: center;
                gap: 16px;
                padding: 0 !important;


                justify-content: space-between;


                & .tools {



                    display: flex;
                }
            }


        }
    }

}



#footer_area {
    .topbar {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid rgb(175, 175, 175);
        border-bottom: 1px solid rgb(175, 175, 175);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 200px;
        }

        .quick-link {
            ul {
                li {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }

    .text_area {
        padding-top: 10px;
        padding-bottom: 10px;


        display: flex;
        justify-content: space-between;

        gap: 15px;


    }
    .featured {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        .social {
            width: 50%;

            .navbar-nav {
                display: flex;
                flex-direction: row;
                gap: 10px;

                li {
                    width: 50px;
                    height: 50px;

                    text-align: center;
                    align-content: center;
                    border-radius: 50%;
                    border: 1px solid gray;
                    transition: all ease-in-out 0.3s;

                    a {
                        font-size: 20px;
                        line-height: 35px;

                    }

                    &:hover {
                        background-color: $color-hover;
                        transform: scale(1.3);
                        transition: all ease-in-out 0.3s;
                    }
                }
            }
        }

        .newsletter {
            width: 30%;
        }

    }

    .copyright {
        background-color: rgb(211, 209, 209);
        display: flex;
        justify-content: space-between;
        gap: 15px;
        padding-top: 16px;
 .footer-icon {
            width: 10px;
        }
    }
}

#main_area {}

//sports area
#sports_area{
    .sports_container{
        .grid-box{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 10px;
            @media (max-width:992px){
            grid-template-columns: auto auto;

            }
            .item{
                .title{
                    font-size: 18px;
                    @media (max-width:992px){
                        font-size:16px;
                    }
                }
                &:nth-child(1){
                    grid-area: 2 span/2 span;
                }
            }
        }
    }
}
